# Importing Libraries

In [1]:
import numpy as np
import pandas as pd

# Importing the Data for ML

In [29]:
data = pd.read_csv('C:/Users/aksin52/Documents/Learnbay Stats ML Curriculum/hou_all_miss.csv')

In [89]:
# Checking Imported data size

In [30]:
data.shape

(506, 15)

# Printing a few rows of the data

In [10]:
data.head()

,Town_Id,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Medv
0,T15,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,T14,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,T11,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,T12,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,T14,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

# Check for data types in the data

In [11]:
data.dtypes

Town_Id     object
CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
Medv       float64
dtype: object

# Dropping any given ID feature

In [31]:
data=data.drop(['Town_Id'],axis=1)

In [32]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

# Defining Independent and Target Feature

In [45]:
# Create a indepedent feature dataframe
X=data.drop(['Medv'],axis=1)

# Create a dependent feature dataframe
Y=data[['Medv']]

In [24]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

# Check for Missing Value Percentage across all features

In [37]:
X.isnull().mean()

CRIM       0.000000
ZN         0.000000
INDUS      0.000000
CHAS       0.000000
NOX        0.000000
RM         0.005929
AGE        0.000000
DIS        0.000000
RAD        0.000000
TAX        0.000000
PTRATIO    0.000000
B          0.000000
LSTAT      0.000000
dtype: float64

In [35]:
Y.isnull().mean()

Medv    0.0
dtype: float64

# Dropping variables that have more than 25% missing values

In [48]:
X = X.loc[:, X.isnull().mean() <= .25]

# Imputation of missing values

In [49]:
# Create a dataframe for numeric features
num=X.select_dtypes(include='number')

# Create a dataframe for categorical features
char=X.select_dtypes(include='object')

In [55]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
num_1=pd.DataFrame(imputer.fit_transform(num),index=num.index,columns=num.columns)

In [101]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan, strategy='most_frequent')
char_1=pd.DataFrame(imputer.fit_transform(char),index=char.index,columns=char.columns)

In [60]:
num.describe(percentiles=[0.01,0.05,0.25,0.50,0.75,0.90,0.99])

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,503.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.285867,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.704507,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
1%,0.013610,0.000000,1.253500,0.000000,0.398000,4.521180,6.610000,1.206540,1.000000,188.000000,13.000000,6.730000,2.883000
5%,0.027910,0.000000,2.180000,0.000000,0.409250,5.308000,17.725000,1.461975,2.000000,222.000000,14.700000,84.590000,3.707500
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.884500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.209000,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.627000,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
90%,10.753000,42.500000,19.580000,0.000000,0.713000,7.153600,98.800000,6.816600,24.000000,666.000000,20.900000,396.900000,23.035000
99%,41.370330,90.000000,25.650000,1.000000,0.871000,8.336200,100.000000,9.222770,24.000000,666.000000,21.200000,396.900000,33.918500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

# Removal of Extreme Values and Outliers from the numerical features

In [62]:
num.quantile(0.01)

CRIM         0.01361
ZN           0.00000
INDUS        1.25350
CHAS         0.00000
NOX          0.39800
RM           4.52118
AGE          6.61000
DIS          1.20654
RAD          1.00000
TAX        188.00000
PTRATIO     13.00000
B            6.73000
LSTAT        2.88300
Name: 0.01, dtype: float64

In [67]:
def outlier_cap(x):
    x=x.clip(upper=x.quantile(0.99))
    x=x.clip(lower=x.quantile(0.01))
    return(x)

In [70]:
X=X.apply(lambda x : outlier_cap(x))
X.describe(percentiles=[0.01,0.1,0.15,0.2,0.25,0.5,0.75,0.9,0.95,0.99])

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,503.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.375175,11.304348,11.118875,0.069170,0.554770,6.288329,68.584506,3.778529,9.549407,407.794466,18.454743,356.715751,12.642073
std,6.908970,23.112644,6.809112,0.253994,0.115773,0.680828,28.127163,2.052652,8.707259,167.791388,2.154109,91.133441,7.074084
min,0.013610,0.000000,1.253500,0.000000,0.398000,4.521180,6.610000,1.206540,1.000000,188.000000,13.000000,6.730000,2.883000
1%,0.013620,0.000000,1.256825,0.000000,0.398000,4.523316,6.619500,1.210473,1.000000,188.000000,13.000000,6.777500,2.885850
10%,0.038195,0.000000,2.910000,0.000000,0.427000,5.593200,26.950000,1.628300,3.000000,233.000000,14.750000,290.270000,4.680000
15%,0.050770,0.000000,3.640000,0.000000,0.436500,5.710200,32.200000,1.802200,3.000000,254.750000,15.575000,343.857500,5.465000
20%,0.064170,0.000000,4.390000,0.000000,0.442000,5.836400,37.800000,1.951200,4.000000,273.000000,16.600000,364.310000,6.290000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.884500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.209000,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.627000,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
90%,10.753000,42.500000,19.580000,0.000000,0.713000,7.153600,98.800000,6.816600,24.000000,666.000000,20.900000,396.900000,23.035000
95%,15.789150,80.000000,21.890000,1.000000,0.740000,7.601000,100.000000,7.827800,24.000000,666.000000,21.000000,396.900000,26.807500
99%,41.219403,90.000000,25.650000,1.000000,0.871000,8.335416,100.000000,9.222646,24.000000,666.000000,21.200000,396.900000,33.822075
max,41.370330,90.000000,25.650000,1.000000,0.871000,8.336200,100.000000,9.222770,24.000000,666.000000,21.200000,396.900000,33.918500

# Removing features with 0 Variance

In [71]:
from sklearn.feature_selection import VarianceThreshold
varcutoff=VarianceThreshold()
X_1=pd.DataFrame(varcutoff.fit_transform(X),index=X.index,columns=X.columns)
X_1.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,503.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.375175,11.304348,11.118875,0.069170,0.554770,6.288329,68.584506,3.778529,9.549407,407.794466,18.454743,356.715751,12.642073
std,6.908970,23.112644,6.809112,0.253994,0.115773,0.680828,28.127163,2.052652,8.707259,167.791388,2.154109,91.133441,7.074084
min,0.013610,0.000000,1.253500,0.000000,0.398000,4.521180,6.610000,1.206540,1.000000,188.000000,13.000000,6.730000,2.883000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.884500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.209000,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.627000,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,41.370330,90.000000,25.650000,1.000000,0.871000,8.336200,100.000000,9.222770,24.000000,666.000000,21.200000,396.900000,33.918500

# Encoding Categorical Independent Features

In [106]:
char_1.head()

      sex smoker     region
0  female    yes  southwest
1    male     no  southeast
2    male     no  southeast
3    male     no  northwest
4    male     no  northwest

In [107]:
char_encode=pd.get_dummies(char_1)

In [108]:
char_encode.head()

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1,0,0,1,0,0,0,1
1,0,1,1,0,0,0,1,0
2,0,1,1,0,0,0,1,0
3,0,1,1,0,0,1,0,0
4,0,1,1,0,0,1,0,0

# Feature Scaling

In [74]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()
X_std=pd.DataFrame(std.fit_transform(X),index=X.index,columns=X.columns).add_suffix('_std')

# Feature Discretization

In [82]:
from sklearn.preprocessing import KBinsDiscretizer
Bins=KBinsDiscretizer(n_bins=10,encode='ordinal',strategy='quantile')
X_binned=pd.DataFrame(Bins.fit_transform(num_1),index=num_1.index, columns=num_1.columns).add_suffix('_Bin')
X_binned.describe()

C:\Anaconda_Python\lib\site-packages\sklearn\preprocessing\_discretization.py:202: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 1 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
C:\Anaconda_Python\lib\site-packages\sklearn\preprocessing\_discretization.py:202: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 2 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
C:\Anaconda_Python\lib\site-packages\sklearn\preprocessing\_discretization.py:202: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 3 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
C:\Anaconda_Python\lib\site-packages\sklearn\preprocessing\_discretization.py:202: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 8 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
C:\Anaconda_Python\lib\site-packages\sklearn\preprocessing\_discretization.py:202: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 9 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
C:\Anaconda_Python\lib\site-packages\sklearn\preprocessing\_discretization.py:202: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 10 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
C:\Anaconda_Python\lib\site-packages\sklearn\preprocessing\_discretization.py:202: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 11 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

,CRIM_Bin,ZN_Bin,INDUS_Bin,CHAS_Bin,NOX_Bin,RM_Bin,AGE_Bin,DIS_Bin,RAD_Bin,TAX_Bin,PTRATIO_Bin,B_Bin,LSTAT_Bin
count,506.000000,506.000000,506.000000,506.0,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,4.503953,0.341897,4.403162,0.0,4.573123,4.505929,4.511858,4.505929,2.679842,4.551383,4.430830,4.201581,4.505929
std,2.879250,0.653781,2.690561,0.0,2.921343,2.879247,2.887470,2.880622,1.228486,2.783674,2.686998,2.486175,2.881310
min,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,2.000000,0.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
50%,4.500000,0.000000,5.000000,0.0,5.000000,5.000000,4.500000,4.500000,3.000000,5.000000,4.500000,4.500000,4.500000
75%,7.000000,0.000000,7.000000,0.0,7.000000,7.000000,7.000000,7.000000,4.000000,8.000000,7.000000,7.000000,7.000000
max,9.000000,2.000000,8.000000,0.0,9.000000,9.000000,9.000000,9.000000,4.000000,8.000000,8.000000,7.000000,9.000000

# Joining dataframes to create a complete feature set

In [111]:
X_all=pd.concat([num_1,char_encode],axis=1,join='inner')
X_all.shape

(1338, 11)

# Splitting the data into Train and Test Sets

In [112]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_all,Y, test_size=0.3,random_state=42)